$colors: (
    common: (
        'white':'#ffffff',
        'black':'#000',
        'placeholder':'#c3c3c3',
        'heading':'#1c1c1c',
        'body-text':'#4b4b4b;',
    ),
    theme: (
        '1':'#3887FE',
        '2':'#303591',
        '3':'#F8D458',
        '4':'#161E43',
        '5':'#3249B3',
    ),
    text: (
        '1':'#4b4b4b;',
    ),
    bg: (
        'gray-1':'#F9F9F9',
        'gray-2':'#f3f3f3',
        'gray-3':'#fafafa',
        'sky':'#F7FAFF',
        'footer':'#fafafa;',
),
    border: (
        '1': '#727272',
    ),
    footer: (
        '1': '#505050',
    )
);
  
